/* FOR TEAMS PAGE ONLY */

.carousel-wrapper {
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: relative; 
    /* width: 100%; */
}

.carousel-container {
    width: 75%; 
    overflow: hidden; 
    position: relative; 
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.window{
    display: flex;
    width: inherit;
    flex-direction: row;
}

.carousel-item{
    position: relative;
    transition: 0.7s ease;
    background-color: rgba(238, 106, 128, 0.785);
    border-radius: 20px;
    height: 40vh;
    width: 24vw; /* Default width, adjusted for different layouts */
    display: block;
    text-align: center;

    width: 24vw; 
    margin-right: 1vw;
    box-sizing: border-box;
    padding: 10px;
    transition: width 0.7s ease, background-color 0.7s ease;
    background-color: rgba(238, 106, 128, 0.785);
    border-radius: 20px;
    height: 40vh;
    display: block;
}
.carousel-item.expand .expanded-member{
    display: block;
}

.carousel-item.expand .normal-member{
    display: none;
}
.carousel-item.expand {
    /* width: 31.2vw;  */
    background-color: rgba(21, 42, 109, 0.672);
    width: 29vw;
}
.carousel-item.shrink {
    width: 21.5vw;
    /* width: 20.4vw;  */
    background-color: rgba(137, 43, 226, 0.626);
}

button.prev, button.next {
    font-size: 2rem;
    background-color: black;
    color: aliceblue;
    border: none;
    z-index: 1;
}

button.prev:hover, button.next:hover{
    cursor: pointer;
}

button.prev {
    left: 6vw; /* Position to the left */
}

button.next {
    right: 6vw; /* Position to the right */
}




/* Responsive adjustments */
@media only screen and (max-width: 1100px) {
    button.prev, button.next {
        display: none;
    }
    .carousel-item{
        width: 80vw;
        margin-right: none;
        background-color: rgba(21, 42, 109, 0.272);
    }
    .carousel-wrapper {
        flex-direction: column ;
    }
    .window{
        align-items: center;
        flex-direction: column;
        gap: 1rem;
    }
    .carousel-container {
        overflow:auto;
        width: 100%;
        gap: 1rem; 
    }
    .carousel {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .carousel-item.expand {
        width: 80vw; 
    }
    
    .carousel-item.shrink {
        width: 80vw;         
        background-color: rgba(21, 42, 109, 0.272);
    }
}
