:root {
  --light-blue: #94b0c9;
  --dark-blue: #1c1678;
  --black-color: black;

  /* Background */
  --white-color: white;
  --off-white-color: #f2f2f2;
  --off-blue-color: #daeaf9;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  font-family: 'Baloo Bhai 2', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 0.8;
  position: relative;
  overflow-x: hidden; 
  width: 100vw;
}

.sub-heading {
  color: var(--white-color);
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.8em;
  text-transform: uppercase;
}

/* Video section(landing + main) */

.video-background {
  height: 110%;
  /* width: 100%; */
  z-index: -1;
  overflow: hidden;
}

#bgVideo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* about us section */
.about-us-section {
  background-color: #0b0a0a;
  text-align: center;
  padding: 40px 0;
  color: #a3d0f2;
}

.about-us-content {
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .about-us-content {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 40px;
    font-size: small;
  }
}

.about-us-content h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

.about-us-content p {
  font-size: 1.1em;
  line-height: 1.6;
  margin-bottom: 15px;
  text-align: justify;
}

/*  ...Carousel Section...  */
.carousel-heading {
  text-align: center;
  padding: 10px 0;
  display: flex;
  align-items: center; 
  justify-content: center; 
}
.carousel-heading h1 {
  margin-bottom: 10px;
}

.carousel-heading .text {
  text-align: center; 
  margin-right: 20px;
}
.carousel-section {
  background-color: var(--black-color);
  text-align: center;
  padding: 10px 0 30px 0;
  color: #333; 
  display: flex; 
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}
.carousel { 
  position: relative; 
  width: 600px; 
  height: 340px; 
  overflow: hidden; 
  /* background-color: #cdcdcd;  */
  border: 10px solid white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 
.carousel-item .slide-image { 
  width: 100%; 
  height: 340px; 
  background-size: cover; 
  background-repeat: no-repeat; 
} 
.carousel-item { 
  position: absolute; 
  width: 100%; 
  height: 270px; 
  border: none; 
  top: 0; 
  left: 100%; 
  border-radius: 8px;
} 
.carousel-item.active { 
  left: 0; 
  transition: all 0.4s ease-out; 
} 
.carousel-item div { 
  height: 100%; 
}
.arrow-button {
  background-color: transparent;
  border: 2px solid #333;
  color: #333;
  padding: -2px 5px 0;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: -10px;
  position: relative;
  top: -6px;
}
.arrow-button:hover {
  background-color: #333;
  color: white;
}
.arrow-button::after {
  content: "\2192";
  margin: 0 5px; 
  font-size: 20px;
  padding:0;
}

@media screen and (max-width: 768px) {
  .carousel-heading h1 {
    font-size: 1.5rem;
  }
  .carousel {
    width: 350px; 
    height: 198px;
    border: 8px solid white;
  }  
  .carousel-item .slide-image {
    height: 198px;
  }
  .arrow-button::after {
    font-size: 16px;
  }
}
/*  carousel section ends*/

/* ... cores ... */

.cores-section {
  background-color: var(--off-blue-color);
  text-align: center;
  padding: 30px 0;
  color: #000000; 
}

.cores-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  padding: 18px;
  max-width: 85%;
  margin: 0 auto;  
}

.cores-container-captain {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  padding: 20px;
  max-width: 30%;
  margin: 0 auto;  
}

.cores-card {
  position: relative;
  width: 200px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  /* display: flex; */
  /* background-color:#ffa600;
  border: 2px solid black; */
  background-color: #000000;
  /* padding: 5px; */
  height: 320px;
}

.cores-card img {
  width: 200px;
  /* height: 100% !important; */
  height: 232px;
  border-radius: 8px;
  object-fit: cover;
}

.cores-details {
  padding: 15px;
  height: 65px;
  width: 170px;
  margin-top: 10px;
  /* text-align: center; */
  /* background-color: #f8f8f8; */
}

.cores-details > h3{
  margin-top: 0px;
}

.cores-details > h5{
  margin-top: -26px;
  margin-bottom: 0px;
}


.cores-details p:first-of-type{
  margin: -14px 0;
  font-style: italic;
  color: #666;
  font-size: small;
}

.cores-details p:nth-last-child(1){
  margin: 1px 0;
  font-size: small;
}

.linkedin-icon-cores {
  position: absolute;  
  height: 216px;
  /* height: 92%; */
  width: 184px;
  top: 115px;
  left: 100px;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: rgb(90, 90, 246); 
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 8px;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.cores-card:hover .linkedin-icon-cores {
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.cores-details > a > i{
  
  color: rgb(90, 90, 246);
  position: absolute;
  top: -5px;
  left: -4px;
  background: #f8f8f8;
  border-radius: 34px;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .cores-container{
    padding: 20px;
    
  }
  .cores-container-captain{
    padding: 20px;
    max-width: 80%;
    
  }
  .cores-card {
    padding: 14px;
    margin: 3px;
    overflow:visible;
  }
  .cores-card img{
    width: 200px;
    height: 267px;
    border-radius: 8px;
    object-fit: cover;
    box-sizing:content-box;
  }
  .cores-details {
    padding: 10px;
    height: 55px;
    width: 180px;
  }
  .cores-details h3{
    font-size: 1.06em;
  }
  .cores-details p:first-of-type{    
    font-size: small;
  }  
  .linkedin-icon-cores{
    height: 267px;
    width: 200px;
    top: 38%;
    left: 50%;
  }
  .cores-card {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.9s ease, transform 0.9s ease;
  }
  
  .cores-card.show {
    opacity: 1;
    transform: translateY(0);
  }

  .cores-details > a > i{
    opacity: 1;
    color: rgb(90, 90, 246);
    position: absolute;
    top: -5px;
    left: -4px;
    background: #f8f8f8;
    border-radius: 34px;
  }
    
}

.fab{
  padding: 10px;
  font-size: 25px;
}


/* Prospects css */

.prospects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -10px;
}

.box p {
  color: white;
  font-size: 24px;
  margin: 0;
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
}

.box {
  background-position: center bottom 50px;
  background-size: 60%;
  background-repeat: no-repeat;
  flex-basis: calc(25% - 20px);
  height: 320px;
  margin: 10px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease-out;
  background-color: black;
  background-image: url("source/1.png");
  background-position: 50%;
  border-radius: 15px;
  -webkit-transition: height 0.4s ease-in-out;
  -moz-transition: height 0.4s ease-in-out;
}

.box:hover {
  transform: translateY(-20px);
  cursor: grabbing;
}

.box:hover p {
  font-size: bold;
  color: rgb(239, 197, 118);
}

@media (max-width: 768px) {
  .box {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .box {
    flex-basis: 100%;
  }
  .box:hover {
    top: -10px;
    transform: translateY(-10px);
    transition: transform 0.2s ease-out;
  }
}
.manymore {
  opacity: 1;
  text-align: center;
  font-size: 20px;
}

.manymore:hover {
  transition: transform 2s ease-out;
  font-size: 20px;
}

/* Prospect css ends */

/* faq sec */

.faq-container {
  margin: 0 auto;
  background-color: var(--black-color);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.636);
  color: var(--light-blue);
  padding: 50px 47px;
}
.faq-container.text span {
  font-family: "Raleway", sans-serif;
  color: var(--light-blue);
  position: relative;
  cursor: pointer;
}
.faq-question:hover {
  background-color: #c4ddf5;
  opacity: 0.5;
  border-radius: 10px;
}

.faq-question {
  margin: 20px auto;
  line-height: 1.4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0c0c0c;
  padding: 10px 4px;
  cursor: pointer;
  position: relative;
  font-size: 1.2rem;
  width: 60%;
}

.faq-question::before{
  margin-left: 10px;
  content: "+";
  position: absolute;
  right: 0;
  font-size: 2rem;
  line-height: 1;
  transition: transform 0.2s ease-in-out;
}


.faq-answer {
  margin: 20px auto;
  line-height: 1.4;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-in-out;
  width: 60%;
  font-size: 1rem;
}

.faq-item.active .faq-answer {
  max-height: 300px;
}

.faq-item.active .faq-question::before {
  transform: rotate(45deg);
}

